= render 'shared/menu'
= react_component 'ReactComponentInformation',
    components_electrical_schema: electrical_schemas,
    components_images: components_paths,
    components_icons: icons_paths,
    components_informations: components_descriptions,
    component_sources: components_datasheets
