= render 'shared/menu'
= react_component 'ReactComponentInformation',
    background_path: asset_path('cube.png'),
    components_images: components_paths,
    components_icons: icons_paths,
    components_informations: components_descriptions,
    component_sources: components_datasheets
