= render 'shared/menu'
= react_component 'ReactLivePrediction',
    src_readings: json_read(sensor_readings_path),
    src_hypotheses: json_read(live_hypotheses_path),
    predictions: @predictions,
    access_id: @id,
    sensor_values: sensor_constant_values,
    available_plants: available_plants,
    reload_time: 10000
