= render 'shared/menu'
= react_component 'ReactLivePrediction',
    src_readings: sensor_readings_path,
    src_hypotheses: live_hypotheses_path,
    predictions: @predictions,
    access_id: @id,
    sensor_values: sensor_constant_values
