= render 'shared/menu'
= react_component 'ReactSimulation',
    cube_path: asset_path('cube.png'),
    sensor_images: sensor_paths,
    predictions: @predictions,
    access_id: @id,
    sensor_values: sensor_constant_values
