= render 'shared/menu'
= react_component 'ReactSimulation',
    predictions: @predictions,
    access_id: @id,
    sensor_values: sensor_constant_values,
    available_plants: available_plants,
    src_simulation: json_read(simulation_hypotheses_path)
