= react_component 'ReactMainMenu',
    homepage_link: root_path,
    simulation_style: active_simulation,
    simulation_link: simulation_predictions_path,
    live_prediction_style: active_live_prediction,
    live_prediction_link: live_prediction_predictions_path
