# Be sure to restart your server when you modify this file.
# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.
# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

test:
  secret_key_base: 30bb90e7d9702ae0991e134b34316e6b453cf06e6928c9c7903939a05369db1a15999c5e373149d263f7e45cff467dc54ead6a5dae803f6b0dc089dd2932d768
  sidekiq_user: <%= ENV["SIDEKIQ_USER"]%>
  sidekiq_pass: <%= ENV["SIDEKIQ_PASS"]%>
